.search__form {
  position: relative;
  height: 64px;
  margin: auto 0 0 0;
  width: 100%;
}

.search__button {
  position: relative;
  top: -64px;
  left: calc(100% - 166px);
  width: 168px;
}

@media screen and (max-width: 768px) {
  .search__form {
    height: 56px;
  }

  .search__button {
    position: relative;
    top: -56px;
    left: calc(100% - 158px);
    width: 160px;
  }
}

@media screen and (max-width: 410px) {
  .search__form {
    height: 130px;
    margin: 0;
  }

  .search__button {
    position: static;
    margin: 16px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .search__form {
    margin: auto 0 0 0;
  }
}
