@keyframes content-transition {
  0% {
    left: -10%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup__content {
  position: relative;
  top: 0;
  left: -20%;
  height: min-content;
  margin: 0 30px;
  padding: 34px 36px 28px 36px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
}

.popup__content_transition {
  animation: content-transition .2s forwards ease;
}

.popup__button-close {
  position: absolute;
  top: -30px;
  right: -30px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.popup__icon-close {
  height: 40px;
  width: 40px;
  fill: white;
}

@media screen and (max-width: 360px) {
  .popup {
    align-items: start;
  }

  .popup__content {
    height: 100%;
    margin: 56px 0 0 0;
    padding: 16px;
    opacity: 0;
  }

  .popup__button-close {
    top: -40px;
    right: 10px;
    height: 24px;
    width: 24px;
  }

  .popup__icon-close {
    height: 24px;
    width: 24px;
  }
}
