.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 7.2%;
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #B6BCBF;
}

.footer__info-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer__nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__nav-item {
}

.footer__nav-item:not(:first-child) {
  margin: 0 0 0 30px;
}

.footer__nav-link {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #1A1B22;
  text-decoration: none;
  outline: none;
  transition: opacity .1s ease;
}

.footer__nav-link:hover {
  opacity: .7;
}

.footer__socials {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 57px;
  padding: 0;
  list-style-type: none;
}

.footer__socials-item {
}

.footer__socials-item:not(:first-child) {
  margin: 0 0 0 26px;
}

.footer__socials-link {
  display: flex;
  transition: opacity .1s ease;
}

.footer__socials-link:hover {
  opacity: .7;
}

.footer__socials-image {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 64px;
    padding: 0 5.2%;
  }

  .footer__nav-item:not(:first-child) {
    margin: 0 0 0 16px;
  }

  .footer__socials {
    margin: 0 0 0 33px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 5% 24px 5%;
  }

  .footer__copyright {
    order: 2;
    width: 100%;
    margin: 40px 0 0 0;
  }

  .footer__info-links {
    order: 1;
    justify-content: space-between;
    align-items: start;
    height: auto;
    width: 100%;
  }

  .footer__nav {
    flex-direction: column;
    align-items: start;
    height: auto;
  }

  .footer__nav-item:not(:first-child) {
    margin: 24px 0 0 0;
  }

  .footer__socials {
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
