.nav__item {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__link {
  display: flex;
  align-items: center;
  margin: 0 32px 0 0;
  height: 100%;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: opacity 0.1s ease;
}

.nav__link:hover {
  opacity: 0.7;
}

.nav__link_checked {
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.nav__link_white {
  color: white;
  border-bottom-color: white;
}

@media screen and (max-width: 768px) {
  .nav__link {
    margin: 0 16px 0 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .nav__item {
    height: 56px;
    width: 100%;
  }

  .nav__link {
    margin: 0;
    width: 100%;
    font-size: 1rem;
  }

  .nav__link_checked {
    border: none;
  }
}
