.text-logo {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 650px) {
  .text-logo {
    font-size: 1rem;
  }
}
