.app {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app_background {
  min-height: 576px;
  background-image: url('./assets/images/background_image.png');
  background-size: auto 576px;
  background-position: center top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .app_background {
    min-height: 400px;
    background-size: auto 400px;
    background-image: url('./assets/images/background_image(768).png');
  }
}

@media screen and (max-width: 320px) {
  .app_background {
    min-height: 536px;
    background-size: auto 536px;
    background-image: url('./assets/images/background_image(320).png');
  }
}
