html {
  font-size: 16px;
}

body {
  background: #fff;
  margin: 0;
  font-family: 'Roboto', 'Roboto Slab', 'Inter', 'Source Sans Pro',
  Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
